.header{
    padding:10px;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    background: #fff;
}
.logo{
    font-size: 2.5rem;
    text-decoration: none;
}




